/*
    COLORS:

    Dark Purple: #242038  rgb(36, 32, 56)  rgba(36, 32, 56, 1)
    Slate Blue: #725AC1
    Middle Blue Purple: #8D86C9
    Lavender Gray: #CAC4CE
    Linen: #F7ECE1

*/

:root{
    --bg-color1: #242038;
    --bg-color2: black;
    --font-color1: #F7ECE1;
    --font-color2: #CAC4CE;
    --accent-color1: #725AC1;
    --accent-color2: #8D86C9;
}

h1, h5{
    color: var(--font-color1);
}

h4, .card-title{
    color: var(--accent-color1);
    font-weight: bold;
}

p{
    color: var(--bg-color2);
}

header{
    background-image: linear-gradient(to right, var(--accent-color1), var(--accent-color2));
    /* margin-bottom: 0 !important; */
}

.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.about-me{
    width: 80%; /* on bigger devices width needs to be 50%*/
    line-height: 2;
    text-indent: 1rem;
}

.resumeBtn, .viewSiteBtn{
    background-color: var(--accent-color2);
    color: var(--font-color1);
    -moz-transition: background-color .5s ease-in-out;
}

.resumeBtn:hover, .viewSiteBtn:hover{
    color: var(--font-color1);
    background-color: var(--bg-color1);
    transform: scale(1.2);
    
}

.resumeBtn:focus{
    background-color: var(--accent-color2) !important;
    box-shadow: none !important;
}


