/*
    COLORS:

    Dark Purple: #242038  rgb(36, 32, 56)  rgba(36, 32, 56, 1)
    Slate Blue: #725AC1
    Middle Blue Purple: #8D86C9
    Lavender Gray: #CAC4CE
    Linen: #F7ECE1

*/

/*

    Fonts:

    font-family: 'Indie Flower', cursive;

    font-family: 'Raleway', sans-serif;

*/

:root{
    --bg-color1: #242038;
    --bg-color2: black;
    --font-color1: #F7ECE1;
    --font-color2: #CAC4CE;
    --accent-color1: #725AC1;
    --accent-color2: #8D86C9;
}

h1{
    font-family: 'Indie Flower', cursive;
}

h5{
    font-family: 'Raleway', sans-serif;
}

h1, h5{
    color: var(--font-color1);
}

h4, .card-title{
    color: var(--accent-color1);
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

h6{
    color: var(--accent-color1);
    font-family: 'Raleway', sans-serif;
}

p{
    color: var(--bg-color2);
    font-family: 'Raleway', sans-serif;
}

ul{
    color: var(--bg-color1);
}

header{
    background-image: linear-gradient(to right, var(--accent-color1), var(--accent-color2));
    /* margin-bottom: 0 !important; */
}

nav{
    background-color: var(--accent-color2);
}

footer{
    background-image: linear-gradient(to right, var(--accent-color2), var(--accent-color1));
}

.myLogo{
    width: 400px;
    background-color: transparent;
}

.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.nav-link{
    color: var(--font-color1);
}

.nav-link:hover{
    color: var(--font-color2);
}

.about-me{
    width: 80%; /* on bigger devices width needs to be 50%*/
    line-height: 2;
    text-indent: 1rem;
}

.card{
    height: 100%;
}

.projectsBtn{
    background-color: var(--accent-color1);
    color: var(--font-color1);
    border: none;
    transition: background-color .5s ease-in-out;
}

.projectsBtn:hover{
    background-color: var(--bg-color1);
    transform: scale(1.2);
}

.projectsBtn:focus, .projectsBtn:active{
    background-color: var(--bg-color1) !important;
    box-shadow: none !important;
}

.resumeBtn, .viewSiteBtn, .sendFeedbackBtn{
    background-color: var(--accent-color2);
    color: var(--font-color1);
    -moz-transition: background-color .5s ease-in-out;
    border: none;
}

.resumeBtn:hover, .viewSiteBtn:hover, .sendFeedbackBtn:hover{
    color: var(--font-color1);
    background-color: var(--bg-color1);
    transform: scale(1.2);
    
}

.resumeBtn:focus, .sendFeedbackBtn:focus{
    background-color: var(--accent-color2) !important;
    box-shadow: none !important;
}

.card-header{
    background-color: var(--accent-color1);
}

.accBtn{
    color: var(--font-color1);
}

.accBtn:hover, .accBtn:focus{
    color: var(--font-color1);
    box-shadow: none !important;
}


.contact-link{
    color: var(--font-color1);
}

.contact-link:hover{
    color: var(--font-color2);
}

.contact-link:focus{
    box-shadow: none !important;
}

